{% extends 'news/template.html' %}

{% block header %}
    {% if page %} 
        <h2 class="page-title col-sm-12 text-center">{{ page.headline }}</h2>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center article-space">
        <!-- Display most recent articles  -->
        {% if feed %}
            {% for article in feed %}
                <!-- TODO Add source and authors -->
                <div class="card col-sm-8 col-md-6 article">
                    {% if article.imgUrl %}
                        <img src="{{ article.imgUrl }}" class="card-img-top article-img" alt="{{ article.title }}" />
                    {% else %}
                        <!-- Default image if none is provided -->
                        <img src="https://www.publicdomainpictures.net/pictures/300000/nahled/abstract-art-1554597127F52.jpg" class="card-img-top article-img" alt="{{ article.title }}" />
                    {% endif %}
                    <div class="card-body">
                        <!-- TODO Get some custom source images for popular sources.. Maybe remove .com? --> 
                        <h6 class="card-title"><a href="{% url 'source' article.source_id %}">{{ article.source }}</a></h6>
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.date_published }} - <a href="{% url 'author' article.author_id %}">{{ article.author }}</a></p>
                        <p class="card-text">{{ article.description }}</p>
                        <!-- TODO Keep track of clicks on any given URL --> 
                        <a href="{{ article.url }}" class="card-link btn btn-primary" target="blank">Source</a>
                    </div>
                </div>
                <div class="w-100 d-none d-md-block"></div>
            {% endfor %}
        {% else %}
            <p>No news feed today!</p>
        {% endif %}
    </div>
{% endblock %}