{% extends "news/template.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h1 class="page-title text-center">News</h1>
            <p>
                It's how we connect and stay informed about the world around us. We rely on 
                news sources to provide us unbiased, objective reporting of the occurrences 
                happening daily all across the globe. Unfortunately, "fake news" has become 
                an ever more popular and relevant term in our current polarized political 
                climate.
            <p>
            <p>This app will attempt to build a better conversation. Less bias, more information.</p>
        </div>
    </div>
{% endblock %}