/* Primary custom styles for newsfeed app */

body {
    background-color: black;
    color: white;
}

/* FIXME This doesn't remove ugly link decoration */
#page-title {
    text-decoration: none;
}

.article-space {
    color: black;
}

#page-footer {
    margin-top: 20px; 
}